@model Foodi.Areas.Admin.Models.Category;


<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">

            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4 col-lg-4">
                                        <h4 class="sub-title">
                                            @if (Model != null && Model.CategoryId != null)
                                            {
                                                <text>Edit Category</text>
                                            }
                                            else
                                            {
                                                <text>Add Category</text>
                                            }
                                        </h4>
                                        <div>
                                            <form role="form" method="post" asp-area="Admin" asp-controller="Admin" asp-action="@(Model?.CategoryId > 0 ? "EditCategory" : "AddCategory")"  enctype="multipart/form-data">
                                                @Html.HiddenFor(x => x.CategoryId)
                                                <div class="form-group">
                                                    <label>Category Name</label>
                                                    <div>
                                                        <input type="text" id="CategoryName" name="CategoryName" class="form-control" asp-for="CategoryName" value="@Model?.CategoryName" />
                                                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Category Image</label>
                                                    <div>
                                                        <input type="file" id="Image" name="Image" class="form-control" asp-for="Image" value="@Model?.Image" />
                                                        <span asp-validation-for="Image" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="form-check pl-2">
                                                   
                                                    @if (Model?.IsActive != false)
                                                    {
                                                        <input type="checkbox" id="IsActive" name="IsActive" asp-for="IsActive" checked />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" id="IsActive" name="IsActive" asp-for="IsActive"  />
                                                    }
                                                    <label for="IsActive">Is Active</label>
                                                    <span asp-validation-for="IsActive" class="text-danger"></span>
                                                </div>
                                                <div class="pb-5">
                                                    <button class="btn btn-primary" type="submit">
                                                        @if (Model?.CategoryId > 0)
                                                        {
                                                            <text>Update</text>
                                                        }
                                                        else
                                                        {
                                                            <text>Add</text>
                                                        }
                                                    </button>
                                                    <a href="@Url.Action("Category", "Admin", new { area = "Admin" })" class="your-css-class">
                                                        <span class="badge badge-primary ml-2 mt-3">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223" />
                                                            </svg>
                                                        </span>
                                                    </a>
                                                 
                                                </div>
                                            
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}
